body {
  font-family: "Dancing Script", sans-serif;
  background-color: rgb(53, 52, 46);
}
h1,
h2,
h3 {
  font-family: "Irish Grover" sans-serif;
  font-weight: 400;
  margin: 20px 10px;
}

h1 {
  font-size: 40px;
  color: rgb(233, 224, 224);
  margin: 20px;
  line-height: 120%;
  /*
  margin-top: 20px;
  margin-right: 10px; 
  margin-bottom: 20px;
  margin-left: 10px;
*/
  margin: 20px 10px;
}
/* fin du reset de meyer */

img {
  margin-top: 20px;
}
* {
  box-sizing: border-box;
}
li {
  list-style: disc;
  margin-left: 50px;
}
main {
  color: rgb(210, 217, 223);
}
head {
  text-align: left;
}
