body {
  font-family: "Dancing Script", sans-serif;
  background-color: rgb(196, 190, 154);
}
h1,
h2,
h3 {
  font-family: "Irish Grover" sans-serif;
  font-weight: 400;
  margin: 20px 10px;
}

h1 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin: 20px;
  line-height: 120%;
  /*
  margin-top: 20px;
  margin-right: 10px; 
  margin-bottom: 20px;
  margin-left: 10px;
*/
  margin: 20px 10px;
}
/* fin du reset de meyer */

img {
  width: 50%;
  height: auto;
  line-height: 120%;
  margin-left: 25%;
  margin-top: 5%;
  text-align: center;
}
* {
  box-sizing: border-box;
}
li {
  list-style: disc;
  margin-left: 50px;
}
main {
  color: aliceblue;
}
head {
  text-align: left;
}
img {
  width: 30%;
}
